on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*.*.*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get Release Tag
      id: gettag
      run: echo "::set-output name=tag::$(echo ${GITHUB_REF:10})"
    - name: Build the docker-compose stack
      run: docker-compose up -d
    - name: Check running containers
      run: docker ps -a
    - name: Run tests
      run:  docker-compose exec -T localemr ./check.sh
    - name: Push to Dockerhub
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: davlum/localemr
        tags: latest,${{ steps.gettag.outputs.tag }}
        target: app

